.lazy-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.lazy-load-image-background {
  display: block !important;
  width: 100%;
  height: 100%;
}

.lazy-load-image-background.blur {
  filter: blur(10px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter 0.3s ease;
}
